body, html {
	background-image: url('../../defaultBackground.png');
	background-repeat: repeat;
}

#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#table {
	margin: auto;
	color:#111111;
	width:98%;
	border-width: 1px;
	border-color: #729ea5;
	border-collapse: collapse;
	overflow: hidden;
}

#table tr {
	background-color: #ece8e1;
}

#table td {
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #111111;
	text-align: center;
	vertical-align: center;
	color: darkred;
}

.start {
	background-color: darkgreen;
}

.end {
	background-color: darkturquoise;
}

.path {
	background-color: #ff4655;
}

.navbar {
	overflow: hidden;
	height: 50px;
	background-color: #111111;
	font-family: 'VALORANT', sans-serif;
}

.navbar a {
	float: left;
	display: block;
	color: #ff4655;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-bottom: 3px solid transparent;
}

.navbar a:hover {
	border-bottom: 3px solid #ff4655;
}

.navbar a.active {
	border-bottom: 3px solid #ff4655;
}

#visualize, #clearPath, #resetBoard, #generateMaze, #generateWeights {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 20px;
	background: #ff4655;
	border-color: #ff4655;
	padding: 4px 10px 4px 10px;
	text-decoration: none;
}

#visualize:disabled, #clearPath:disabled, #resetBoard:disabled, #generateMaze:disabled, #generateWeights:disabled {
	border-color: #666666;
	background-color: #cccccc;
	color: #666666;
}

#algorithms {
	background-color: #ece8e1;
	color: #0f1923;
	padding: 8px 4px 8px 4px;
	font-family: Helvetica, sans-serif;
}

#algorithms option {
	background-color: #ece8e1;
}

.container.space-around {
	display: flex;
	justify-content: space-around;
	font-family: Helvetica, sans-serif;
}

.header {
	font-family: 'VALORANT', sans-serif;
	font-size: 30px;
	color: white;
	display: flex;
	align-items: center;
	text-align: center;
	flex-flow: column;
}

.node-visited{
	animation-name: visitedAnimation;
	animation-iteration-count: 1;
	animation-duration: 1.5s;
	animation-delay: 0s;
	background-color: #ff4655;
}

.node-shortest-path {
	animation-name: shortestPath;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

.node-wall {
	background-color: #111111;
	border: 1px solid #111111;
	animation-name: wallAnimation;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes wallAnimation {
	0% {
		transform: scale(.3);
		background-color: #111111;
	}

	50% {
		transform: scale(1.2);
		background-color: #111111;
	}

	100% {
		transform: scale(1.0);
		background-color: #111111;
	}
}

@keyframes visitedAnimation {
	0% {
		transform: scale(0.3);
		background-color: #9c1923;
		border-radius: 100%;
	}

	50% {
		background-color: #c72a36;
	}

	75% {
		transform: scale(1.2);
		background-color: #ff6672;
	}

	100% {
		transform: scale(1);
		background-color: #ff4655;
	}
}

@keyframes shortestPath {
	0% {
		transform: scale(0.6);
		background-color: rgb(255, 254, 106);
	}

	50% {
		transform: scale(1.2);
		background-color: rgb(255, 254, 106);
	}

	100% {
		transform: scale(1);
		background-color: rgb(255, 254, 106);
	}
}

@font-face {
	font-family: 'VALORANT';
	src: url('../../Font/VALORANT-Regular.eot');
	src: url('../../Font/VALORANT-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../Font/VALORANT-Regular.woff2') format('woff2'),
	url('../../Font/VALORANT-Regular.woff') format('woff'),
	url('../../Font/VALORANT-Regular.ttf') format('truetype'),
	url('../../Font/VALORANT-Regular.svg#VALORANT-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
