body {
    background-color: #0f1923;
}

#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    overflow: hidden;
    height: 50px;
    background-color: #3f3f3f;
    font-family: "Muli";
}

.navbar a {
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ff4655;
}

.barChart {
    margin: auto;
    height: 500px;
    width: 98%;
    background-color: #3f3f3f;
    vertical-align: bottom;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.bar {
    background-color: transparent;
    display: inline-block;
    width: 9.7%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.2s all ease;
}

.container.space-around {
    display: flex;
    justify-content: space-around;
}

.block__id {
    display: block;
    margin: auto;
    position: relative;
    top: -26px;
    width: 100%;
    text-align: center;
    color: white;
}